@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #101214;
  --color-surface: #161A1D;
  --color-border: #2C333A;
  --color-text-secondary: #596773;
  --color-text-primary: #C7D1DB;
  --color-bg-2: #C7D1DB;
  --rounded-lg: 0.5rem;
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1);
}

.card {
  background: var(--color-surface);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-xl);
  border: 1px solid var(--color-border);
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  width: 100%;
  min-height: 100vh;
}
